{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{title|default:"Untitled page"}}</title>
</head>
<body style="overflow-y: scroll;">
    <div class="container bg-light">

        <div class="text-center pt-4">
            <h2>OFFICE MANAGER</h2>
        </div>
        
            <nav class='navbar navbar-inverce'>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark mr-1" href="/department/">Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark" href="/employee/">Employee</a>
                    </li>
                </ul>
                
                    <ul class="nav navbar-right">

                        {% block right-nav %}

                        {% endblock right-nav %}

                    </ul>
            </nav>

        <div id="content">
            
            {% block content %}
                
            {% endblock content %}
                
        </div>
    </div>
<script src="{% static 'javascript/script.js' %}"></script>
</body>