{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Department name</th>
                <th>Average salary</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            
            {% for dep in dep_list %}
                <tr>
                    <td>{{dep.name}}</td>
                    <td>{{dep.average_salary}}</td>
                    <td><a class="btn btn-dark" href='{{dep.id}}/'>Edit</a></td>
                    <td>
                        <form action="{{dep.id}}/" method="POST" onsubmit="return confirm('Do you really want to delete this record?');">
                                {% csrf_token %}
                                <input type="hidden" name="method" value="delete">
                                <input type="hidden" name="id" value="{{dep.id}}">
                                <input class="btn btn-dark" type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
                
        </tbody>
    </table>
    
{% endblock content %}
